# Core
pandas>=2.2.0
numpy>=1.26.0
requests>=2.31.0
python-dateutil>=2.9.0

# Banco de dados
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
python-dotenv>=1.0.0

# Notebooks
jupyter>=1.0.0
ipykernel>=6.29.0

# Visualização
matplotlib>=3.8.0
seaborn>=0.13.0

# Testes
pytest>=7.0.0

# Pre-commit tools
black>=24.0.0
ruff>=0.1.0
